body {
  margin: 0;
  width: 100%;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
}
#game {
  grid-area: 1 / 1;
  background-color: blue;

  overflow: hidden;

  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(/images/Background_night_1280x720.jpg);
  background-size: cover;
  aspect-ratio: 16/9;
  width: 100%;
}
.zoom_out {
  animation-name: zoomOut;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.star1 {
  background-image: url(/images/Game_start3_1280x720.jpg);
  background-size: cover;
  aspect-ratio: 16/9;
  width: 100%;
  animation-name: S1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes S1 {
  0% {
    transform: scale(5);
  }
  60% {
    transform: scale(4);
  }
  70% {
    transform: scale(3);
  }
  80% {
    transform: scale(2);
  }
  100% {
    transform: scale(0);
  }
}

.gameO {
  background-image: url(/images/Game_over2__1280x720.jpg);
  background-size: cover;
  aspect-ratio: 16/9;
  width: 100%;
  animation-name: GO1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 10s;
}

@keyframes GO1 {
  0% {
    transform: scale(2);
  }
  25% {
    transform: scale(4);
  }
  50% {
    transform: scale(6);
  }
  75% {
    transform: scale(8);
  }
  100% {
    transform: scale(10);
  }
}

.LevelC {
  background-image: url(/images/Level-complete2_1280x720.jpg);
  background-size: cover;
  aspect-ratio: 16/9;
  width: 100%;
  animation-name: LC1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 15s;
}

@keyframes LC1 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(3);
  }
  50% {
    transform: scale(5);
  }
  75% {
    transform: scale(7);
  }
  100% {
    transform: scale(10);
  }
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

#bandit1_container {
  width: 25%;
  position: absolute;
  top: 18%;
  left: 37%;
}
.band1 {
  animation-name: B1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes B1 {
 0% {
  transform: translate(-100%, 0%);
 }
 100% {
  transform: translate(100%, 0%);

 }
}
#bandit2_container {
  width: 20%;
  position: absolute;
  top: 15%;
  left: 10;
}

.band2 {
  animation-name: B2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes B2 {
  0% {
    transform: translate(-50%, 20%);
  }
  100% {
    transform: translate(1000%, -10%);
  }
}

#bandit3_container {
  width: 25%;
  position: absolute;
  top: 20%;
  left: -3%;
}

.band3 {
  animation-name: B3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes B3 {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(150%, 30%);
  }
}
#civil_container {
  width: 16%;
  position: absolute;
  top: 50%;
  left: -2%;
}

.civil1 {
  animation-name: C1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes C1 {
  0% {
    transform: translate(1%, 5%);
  }
  100% {
    transform: translate(50%, 1%);
  }
}

#civil_container2 {
  width: 20%;
  position: absolute;
  top: 50%;
  left: -20%;
}

.civil2 {
  animation-name: C2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes C2 {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}

#civil_container3 {
  width: 18%;
  position: absolute;
  top: 10%;
  left: 1%;
}

.civil3 {
  animation-name: C3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

@keyframes C3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, -60%);
  }
}

#game_ui {
  grid-area: 1 / 1;
  position: relative;
}

/* ui-elementer */
#time_board {
  width: 5.6%;
  position: absolute;
  top: 10%;
  left: 5%;
}
#score_board {
  width: 9%;
  position: absolute;
  top: 0%;
  left: 45%;
}
#life_board {
  width: 4%;
  position: absolute;
  top: 5%;
  left: 2%;
}

#life_board2 {
  width: 4%;
  position: absolute;
  top: 5%;
  left: 6%;
}

#life_board3 {
  width: 4%;
  position: absolute;
  top: 5%;
  left: 10%;
}

.paused {
  animation-play-state: paused;
}
