body {
  margin: 0;
  width: 100%;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
}
#game {
  grid-area: 1 / 1;
  background-color: blue;

  overflow: hidden;

  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(https://www.simpleimageresizer.com/_uploads/photos/d2619dc9/Background_night_1_1280x720.jpg);
  background-size: cover;
  aspect-ratio: 16/9;
  width: 100%;
}
#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

#bandit1_container {
  width: 60%;
  position: absolute;
  top: 18%;
  left: 37%;
}
.band1 {
  animation-name: B1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes B1 {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
#bandit2_container {
  width: 60%;
  position: absolute;
  top: 15%;
  left: 10;
}

.band2 {
  animation-name: B2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes B2 {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(60%, 50%);
  }
}

#bandit3_container {
  width: 60%;
  position: absolute;
  top: 20%;
  left: -3%;
}

.band3 {
  animation-name: B3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes B3 {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(100%, -5%);
  }
}

#civil_container {
  width: 17%;
  position: absolute;
  top: 44%;
  left: 48%;
}

#civil_container2 {
  width: 130%;
  position: absolute;
  top: -20%;
  left: -20%;
}

#civil_container3 {
  width: 150%;
  position: absolute;
  top: 10%;
  left: 1%;
}
#game_ui {
  grid-area: 1 / 1;
  position: relative;
}

/* ui-elementer */
#time_board {
  width: 5.6%;
  position: absolute;
  top: 10%;
  left: 5%;
}
#score_board {
  width: 9%;
  position: absolute;
  top: 0%;
  left: 45%;
}
#life_board {
  width: 4%;
  position: absolute;
  top: 5%;
  left: 2%;
}

#life_board2 {
  width: 4%;
  position: absolute;
  top: 5%;
  left: 6%;
}

#life_board3 {
  width: 4%;
  position: absolute;
  top: 5%;
  left: 10%;
}
